@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');

body {
  height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  margin: 0 auto;
}

h1 {
  color: #fff;
  font-size: 4rem;
  font-family: 'Playfair Display SC', serif;
}

p {
  color: #fff;
  max-width: 700px;
  font-family: sans-serif;
  letter-spacing: 2px;
  line-height: 22px;
  margin-bottom: 40px;
}

button {
  padding: 0;
  margin: 0;
  border: transparent;
  background: transparent;
  color: #fff;
  border: 2px solid white;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

/* JavaScript */
div.cursor {
  cursor: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  background: yellow;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: cursor 6s infinite alternate;
  /* border:2px groove red; */
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
